<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.github</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>442D55F0-65E3-4B2F-A1A1-B990E3E08A3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64AB207E-1283-4A47-A6A6-C901FF478B21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>454D8FE8-2C5F-41C8-A75C-008C08B20E56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFA0E70B-44D6-4B02-90AF-3BDD638F951F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>600DFBC6-C8EA-494A-9DE0-C7122F38EDA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4D59240-58A1-4C3E-BCFE-CC7B9196903A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64AB207E-1283-4A47-A6A6-C901FF478B21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>600DFBC6-C8EA-494A-9DE0-C7122F38EDA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>60128803-7491-4D16-8ADE-FB406F888A2D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF3C54B2-5D18-4102-936B-72489824DC92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4D59240-58A1-4C3E-BCFE-CC7B9196903A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D081DF1-D66F-4DEB-933E-AA931214E5DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFA0E70B-44D6-4B02-90AF-3BDD638F951F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B9AEE94-0B72-46CF-8C34-380D9C783B5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E45BE256-F2FB-4B1E-812B-7F265A3B7266</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Harrison O'Neill</string>
	<key>description</key>
	<string>A workflow for interacting with the GitHub API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/list_user_repos.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>600DFBC6-C8EA-494A-9DE0-C7122F38EDA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/map_user_repos.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C4D59240-58A1-4C3E-BCFE-CC7B9196903A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>user_repos.json</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>9D081DF1-D66F-4DEB-933E-AA931214E5DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ght</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading repos...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/query_user_repos.sh</string>
				<key>subtext</key>
				<string>Search GitHub User Repositories</string>
				<key>title</key>
				<string>User Repositories</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>442D55F0-65E3-4B2F-A1A1-B990E3E08A3E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update_items</string>
						<key>outputlabel</key>
						<string>Update items</string>
						<key>uid</key>
						<string>60128803-7491-4D16-8ADE-FB406F888A2D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>64AB207E-1283-4A47-A6A6-C901FF478B21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CF3C54B2-5D18-4102-936B-72489824DC92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8604539D-9EBD-4097-81E4-789239262CDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>mkdir -p "$alfred_workflow_cache"

open "$alfred_workflow_cache"

echo "Opening workflow cache: $alfred_workflow_cache" &gt;&amp;2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8B9AEE94-0B72-46CF-8C34-380D9C783B5D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Workflow Cache","arg":"cache\n","subtitle":"Open the workflow cache directory"},{"title":"Workflow Data","arg":"data","subtitle":"Open the workflow data directory"}]</string>
				<key>keyword</key>
				<string>go</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open workflow directory</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>454D8FE8-2C5F-41C8-A75C-008C08B20E56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cache</string>
						<key>outputlabel</key>
						<string>Open Cache</string>
						<key>uid</key>
						<string>E45BE256-F2FB-4B1E-812B-7F265A3B7266</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>data</string>
						<key>outputlabel</key>
						<string>Open Data</string>
						<key>uid</key>
						<string>55416023-4E6D-4839-A9B4-DF4653AEE8EC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CFA0E70B-44D6-4B02-90AF-3BDD638F951F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>442D55F0-65E3-4B2F-A1A1-B990E3E08A3E</key>
		<dict>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>454D8FE8-2C5F-41C8-A75C-008C08B20E56</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>600DFBC6-C8EA-494A-9DE0-C7122F38EDA0</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>64AB207E-1283-4A47-A6A6-C901FF478B21</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>8604539D-9EBD-4097-81E4-789239262CDB</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>8B9AEE94-0B72-46CF-8C34-380D9C783B5D</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>9D081DF1-D66F-4DEB-933E-AA931214E5DA</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>C4D59240-58A1-4C3E-BCFE-CC7B9196903A</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>CF3C54B2-5D18-4102-936B-72489824DC92</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>CFA0E70B-44D6-4B02-90AF-3BDD638F951F</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your GitHub Username</string>
			<key>label</key>
			<string>GitHub Username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>gh_user</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your GitHub Personal Access Token</string>
			<key>label</key>
			<string>GitHub PAT</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>gh_token</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/HA55EHH</string>
</dict>
</plist>
