<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.jira</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>085E6BAD-E131-41C1-81EE-9F72197868DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29AAF465-BAA7-4739-B2D5-EFFDDAED2FE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>49EA5139-7DCE-48E4-B401-E906C43A46D2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6EAE9ED1-3A5B-4692-8A44-3989D3555CC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2D8B228E-796E-4FC4-BBDE-2E58274B6D82</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>302541E2-8B34-44C3-8CEE-C38671C34B3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>961E45E0-3EE3-43CF-A71E-DA2E162546FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3220C0F3-7882-48BA-BC72-A5118C1BC659</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CDFA8FD-FA93-43C0-A283-6A7773726C5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41373026-FB14-4512-B59B-7F3E948EA41E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>085E6BAD-E131-41C1-81EE-9F72197868DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>666CA455-5F67-488C-BB91-363355E5B743</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>302541E2-8B34-44C3-8CEE-C38671C34B3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CC14582D-7452-43E3-8D4C-D1AF65940D1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EAE9ED1-3A5B-4692-8A44-3989D3555CC2</key>
		<array/>
		<key>90B9BE5C-50C3-4294-8982-46560097CF0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>047412A9-78A7-428C-A030-748FF15F46B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>961E45E0-3EE3-43CF-A71E-DA2E162546FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2092697A-B5D3-4069-A677-89BDF084885F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7D0E7AEB-197E-487E-932B-929CFBDEA1C7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B3C60A0-B72E-4FAD-9979-990C94CF6342</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC14582D-7452-43E3-8D4C-D1AF65940D1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FCAD52F-95E1-4B57-A18D-AC7E6E263061</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6692AEC-683E-41A0-B420-A158C718187E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3220C0F3-7882-48BA-BC72-A5118C1BC659</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8CF80B3-B890-4533-B308-7113ABE857C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17324341-BE6A-4CE3-B220-B21268F33285</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>90B9BE5C-50C3-4294-8982-46560097CF0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Harrison O'Neill</string>
	<key>description</key>
	<string>A set of commands to help with Jira</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:domain}/browse/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>17324341-BE6A-4CE3-B220-B21268F33285</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ji</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching issues in Jira...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/search_issues.sh</string>
				<key>subtext</key>
				<string>Search Jira for {var:projects} issues and open in your default browser</string>
				<key>title</key>
				<string>Search Issues</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8CF80B3-B890-4533-B308-7113ABE857C3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/get_issues.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>90B9BE5C-50C3-4294-8982-46560097CF0A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>./issue-cache.json</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>047412A9-78A7-428C-A030-748FF15F46B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:domain}/jira/software/c/projects/{var:split2}/boards/{var:split1}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2092697A-B5D3-4069-A677-89BDF084885F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>&lt;null&gt;</string>
						<key>outputlabel</key>
						<string>Open Board</string>
						<key>uid</key>
						<string>7D0E7AEB-197E-487E-932B-929CFBDEA1C7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open Search</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>961E45E0-3EE3-43CF-A71E-DA2E162546FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>302541E2-8B34-44C3-8CEE-C38671C34B3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:domain}/jira/projects?keyword={var:split2}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5B3C60A0-B72E-4FAD-9979-990C94CF6342</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Querying Jira boards</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/search_boards.sh</string>
				<key>subtext</key>
				<string>Search for Jira boards</string>
				<key>title</key>
				<string>Jira Boards</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>666CA455-5F67-488C-BB91-363355E5B743</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/get_boards.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC14582D-7452-43E3-8D4C-D1AF65940D1F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>./board-cache.json</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>-1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>0FCAD52F-95E1-4B57-A18D-AC7E6E263061</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$alfred_workflow_cache"

echo "Opening workflow cache: $alfred_workflow_cache" &gt;&amp;2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>29AAF465-BAA7-4739-B2D5-EFFDDAED2FE1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Open Cache","arg":"open_cache","subtitle":"Open the Jira workflow cache"},{"title":"Clear Cache","arg":"clear_cache","subtitle":"Clear the Jira workflow cache"}]</string>
				<key>keyword</key>
				<string>jwd</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>A collection of debug actions for the Jira workflow</string>
				<key>title</key>
				<string>Jira Workflow Debug</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>41373026-FB14-4512-B59B-7F3E948EA41E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:jtest</string>
				<key>subtext</key>
				<string>Run the currently configured Jira test script and display results (for development use only).</string>
				<key>text</key>
				<string>Jira Test Command</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6692AEC-683E-41A0-B420-A158C718187E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>5CDFA8FD-FA93-43C0-A283-6A7773726C5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/get_issues.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3220C0F3-7882-48BA-BC72-A5118C1BC659</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_cache</string>
						<key>outputlabel</key>
						<string>Open Cache</string>
						<key>uid</key>
						<string>49EA5139-7DCE-48E4-B401-E906C43A46D2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clear_cache</string>
						<key>outputlabel</key>
						<string>Clear Cache</string>
						<key>uid</key>
						<string>2D8B228E-796E-4FC4-BBDE-2E58274B6D82</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>085E6BAD-E131-41C1-81EE-9F72197868DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>rm -rf "${alfred_workflow_cache:?}/"*

echo "Cleared cache: ${alfred_workflow_cache:?}" &gt;&amp;2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6EAE9ED1-3A5B-4692-8A44-3989D3555CC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Jira Workflow

An Alfred workflow to help with basic Jira navigation e.g. opening tickets and boards.

### Commands

- `ji`: Searches Jira for issues relating to the projects you have defined in the workflow configuration, then opens the selected issue in your default browser.
- `jb`: Searches Jira for boards relating to the projects you have defined in the workflow configuration, then opens the selected board in your default browser.
- `jwd`: Misc workflow debugging commands e.g. clearing and opening workflow cache directory.

### Prerequisites

You will need a Jira account and an [API token](https://support.atlassian.com/atlassian-account/docs/manage-api-tokens-for-your-atlassian-account/).

The workflow has a few dependencies which can be installed via [Homebrew](https://brew.sh/):

- `jq`: a command line tool for parsing JSON ([source code](https://github.com/jqlang/jq))
	- `brew install jq`
- `fzf`: a command line tool for fuzzy searching ([source code](https://github.com/junegunn/fzf))
	- `brew install fzf`
- `imagemagick`: a command line tool for manipulating images ([source code](https://github.com/ImageMagick/ImageMagick))
	- `brew install imagemagick`

### Troubleshooting

This workflow caches responses from the Jira API for responsivenes, then updates the caches when the command is run. If you are experiencing issues you may need to clear the cache using the `jwd` command.

Enabling avatars in the workflow config requires `imagemagick` to process the images to have circlular backgrounds as Jira generates and aligns the "initials" avatar images inconsistently.</string>
	<key>uidata</key>
	<dict>
		<key>047412A9-78A7-428C-A030-748FF15F46B1</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>085E6BAD-E131-41C1-81EE-9F72197868DA</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>0FCAD52F-95E1-4B57-A18D-AC7E6E263061</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>17324341-BE6A-4CE3-B220-B21268F33285</key>
		<dict>
			<key>note</key>
			<string>Open Jira Issue</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>2092697A-B5D3-4069-A677-89BDF084885F</key>
		<dict>
			<key>note</key>
			<string>Open Board</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>29AAF465-BAA7-4739-B2D5-EFFDDAED2FE1</key>
		<dict>
			<key>note</key>
			<string>Open Workflow cache directory</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>302541E2-8B34-44C3-8CEE-C38671C34B3C</key>
		<dict>
			<key>note</key>
			<string>Split ID,Key</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>3220C0F3-7882-48BA-BC72-A5118C1BC659</key>
		<dict>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>41373026-FB14-4512-B59B-7F3E948EA41E</key>
		<dict>
			<key>note</key>
			<string>Debug Commands</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>985</real>
		</dict>
		<key>5B3C60A0-B72E-4FAD-9979-990C94CF6342</key>
		<dict>
			<key>note</key>
			<string>Open Project Search</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>5CDFA8FD-FA93-43C0-A283-6A7773726C5D</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>666CA455-5F67-488C-BB91-363355E5B743</key>
		<dict>
			<key>note</key>
			<string>Fuzzy Search Jira Boards</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>6EAE9ED1-3A5B-4692-8A44-3989D3555CC2</key>
		<dict>
			<key>note</key>
			<string>Clear Workflow cache directory</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>1080</real>
		</dict>
		<key>90B9BE5C-50C3-4294-8982-46560097CF0A</key>
		<dict>
			<key>note</key>
			<string>Update Issue Cache</string>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>961E45E0-3EE3-43CF-A71E-DA2E162546FE</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>CC14582D-7452-43E3-8D4C-D1AF65940D1F</key>
		<dict>
			<key>note</key>
			<string>Update Board Cache</string>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>D6692AEC-683E-41A0-B420-A158C718187E</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>995</real>
		</dict>
		<key>E8CF80B3-B890-4533-B308-7113ABE857C3</key>
		<dict>
			<key>note</key>
			<string>Fuzzy Search Jira Issues</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>mycompany.atlassian.net</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your Atlassian account domain.</string>
			<key>label</key>
			<string>Domain</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>domain</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your Atlassian account email address.</string>
			<key>label</key>
			<string>Email</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>email</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The API token used to send requests to Jira.</string>
			<key>label</key>
			<string>API Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_token</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>DDE,DECDW</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>A comma seperated list of projects to query in Jira.</string>
			<key>label</key>
			<string>Projects</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>projects</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Filter board results using the project keys when using the `jb` command.</string>
			<key>label</key>
			<string>Pre-Filter Projects</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>filter_projects</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>story,task,bug,epic</string>
				<key>placeholder</key>
				<string>story,task,bug,epic</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>What types of issues you want to appear in the results e.g. story, task, epic, bug</string>
			<key>label</key>
			<string>Issue Types</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>issue_types</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Show avatars images for Jira issues, otherwise will default to using issue type icons e.g. story, task, bug etc.</string>
			<key>label</key>
			<string>Avatar Icons</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>avatars</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/HA55EHH/alfred-workflows</string>
</dict>
</plist>
